#post_menu{height: 40px;}
#post_menu ul li{
	float: left;
}
#post_menu ul{
	height: 25px;
}
#post_menu ul li a{
	display: block;
	padding: 3px 5px 3px 5px;
}
#post_form section{
	margin: 0 0 5px 0;
	clear: both;
}
#post_form section label{
	display: block;
	line-height: 25px;
}
input, textarea, select{
	font-size: 21px;
	width: 100%;
}
#post_form input{
	padding: 0;
	margin: 0;
}
#post_form{
	background: rgb(255,255,255);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin: 0 auto;
	padding: 10px;
}
#post_form textarea{
	width: 100%;
}
fieldset{
	margin-bottom: 20px;
	background: rgba(0,0,0, .2);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin: 0 auto 20px auto;
	padding: 10px;
}
#post_form nav{
	width: 100%;
	margin-top: 30px;
	border-top: solid 1px rgb(200,200,200);
	height: 50px;
}
#post_form nav button{
	float: right;
	margin-top: 20px;
}
#post_form nav button:active{
	background: rgba(100,100,100,1);
}

#addressbook input{
	width: 20px;
	float: right;
}
#instructions{
	display: none;
}
#send_to_list label{
	float: left;
	margin-right: 10px;
}
#send_to_list li{
	float: left;
	margin-right: 5px;
}
#send_to_list li span{
	background: rgba(200,200,200,.5);
	border: none;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 10px;
	display: block;
	padding: 3px 5px 3px 5px;
}